[submodule ".emacs.d/vendor/ycmd"]
	path = .emacs.d/vendor/ycmd
	url = git@github.com:danielmartin/ycmd.git
[submodule ".emacs.d/vendor/lsp-mode"]
	path = .emacs.d/vendor/lsp-mode
	url = git@github.com:danielmartin/lsp-mode.git
[submodule ".emacs.d/vendor/lsp-ui"]
	path = .emacs.d/vendor/lsp-ui
	url = git@github.com:danielmartin/lsp-ui.git
[submodule ".emacs.d/vendor/emacs-cquery"]
	path = .emacs.d/vendor/emacs-cquery
	url = git@github.com:danielmartin/emacs-cquery.git
