*.[oa]
*~
[#]*[#]
.DS_Store
.emacs.d/elpa/
/.emacs.d/ido.last
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/src/org2blog-config.el
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/bookmarks
/.emacs.d/irony/*
